<html>
  <head>
    <%- include("includes/head", { title: "Features" }) %>
  </head>
  <body style="background-color: #294054">
    <%- include("includes/header", { req }) %>
    <br>
    <img src="/static/img/icon.png" alt="Ultron's Avatar" class="avatar">
    <h1>Features</h1>
    <br>
    <div class="features">
      <div class="feature-left">
        <img src="/static/img/Economy.png" style="width: 450px; height: 300px;">
        <br>
        <br>
        <h2>Economy</h2>
        <p>Use a great Economy system that's not like basic Economy bots!</p>
      </div>
    </div>
  </body>
</html>