<html>
<head>
  <%- include("includes/head", { title: "Home" }) %>
</head>
<body style="background-color: #294054">
  <%- include("includes/header", { req }) %>
  <br>
  <img src="/static/img/icon.png" alt="Ultron's Avatar" class="avatar">
  <h1>Ultron</h1>
  <h3 class="description">The ultimate Discord bot used in the <a href="https://discord.gg/496ceneFjA" target="_blank" rel="noreferrer" class="anchor-description"><b>FUBU</b></a> army!</h3>
  <br>
  <div class="buttons">
    <button class="btn" onclick="location.href='https://discord.gg/496ceneFjA'"><img src="/static/img/discord.png" class="dc-icon"><h3>Use the bot!</h3></button>
    <button class="btn" onclick="location.href='/features'"><h3>Features</h3></button>
  </div>
</body>
</html>